/* 1) обратиться только к тем ссылкам, значение атрибута href которых начинается с https и сделайте их красным цветом */

/* .holder a[href^="https"] {
    color: red;
} */

.list > li > a[href^="https"] {
    color: red;
}

/* 2) применится только для последней ссылки в первом cписке (link6) и задаст ей зеленый фоновый цвет */

.list > li:last-child a {
    background-color: green;
}

/* 3) будет действовать только для <p>, который идет после <ul> и задаст размер шрифта 26px */

ul + p {
    font-size: 26px;
}