.text-box h3:first-child {
    color: pink;
 }

#greycol {
    color: grey;
}

.text-box div > p {
    color: red;
 }

.text-box p:nth-last-child(2) {
    color: green;
}

.yellow {
    color: yellow;
}